{{!-- {{#if user}}
<div class="navigation-div">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand podchats-navbar-text" href="#">
            <h3>PodChats</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./profilepage">Profile</a>
                </li>
            </ul>
            <div class="nav-search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 search-input" type="text" placeholder="Search">
                    <button class="btn btn-secondary " type="submit">Search</button>
                </form>
            </div>
        </div>
        <div>
            <h4 class="mr-sm-4">Welcome {{user.username}}! </h4>
        </div>
        <button class="btn btn-info mr-sm-2">
            <a href="/">Index</a>
        </button>
        <button class="btn btn-danger">
            <a href="/logout">Log Out</a>
        </button>
    </nav>
</div>
{{/if}}  --}}

<br>
<br>

    <div class="container">
        <div class="row">
    {{#each podcast}}
            <div class="col-sm-4">
                <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header rendered-podcasts">
                        <h5 class="podcast-title-card-text">{{this.title}}</h5>
                    </div>
                    <div class="card-body rendered-podcasts">
                        <a href="episode/{{this._id}}">
                            <img src="{{this.imageUrl}}" alt="">
                        <p class="card-text">{{this.feedurl}}</p>
                        </a>
                    </div>
                </div>
            </div>
    {{/each}} 
        </div>
    </div>

{{!--
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{#each podcast}}
            <div class="podcast-result">
                <h5>Title: </h5>{{this.title}}
                <br>
                <br>
                <h5>Creator: </h5>{{this.creator}}
                <br>
                <br>
                <h5>RSS Feed: </h5>
                <a href="{{this.feedUrl}}">{{this.title}}</a>
                <br>
                <br>
                <img class="podcast-image" href="/podcast/{{this.podcastID}}" src="{{this.imageUrl}}" alt="">
            </div>
            {{/each}}
        </div>
    </div>
</div> --}} {{#unless user}}
<div class="index-image">
   <a href="/login"> <img  class="index-image" src="https://theaudacitytopodcast.b-cdn.net/wp-content/uploads/sites/6/2014/09/iTunes-New-and-Noteworthy-Podcast-Cover-Art.jpg" alt=""></a>

</div>
{{!-- <button id="index-login-button" class="btn btn-primary">
    <a href="/login" </a>Login</button>
<button id="index-signup-button" class="btn btn-info">
    <a href="/signup" </a>Sign Up</button> --}}
{{/unless}}