{{#if user}}
<div class="navigation-div">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand podchats-navbar-text" href="#">PodChats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./profilepage">Profile</a>
                </li>
            </ul>

            <div class="nav-search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary " type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div>
    <h1>Welcome {{user.username}}</h1>

    <button class="btn btn-info">
        <a href="/">Index</a>
    </button>
    <button class="btn btn-danger">
        <a href="/logout">Log Out</a>
    </button>
</div>



{{#each podcast}}
<div class="row">
    <div class="col-md-4">
        <div class="podcast-result">
            <h3>Title: </h3>{{this.title}}
            <h3>Creator: </h3>{{this.creator}}
            <h2>RSS Feed: </h2><a href="{{this.feedUrl}}">{{this.title}}</a>
            <img class="podcast-image" src="{{this.imageUrl}}" alt="">       
        </div>
</div>
</div>
{{/each}}



{{/if}} {{#unless user}}
<button id="index-login-button" class="btn btn-primary">
    <a href="/login" </a>Login</button>
<button id="index-signup-button" class="btn btn-info">
    <a href="/signup" </a>Sign Up</button>
{{/unless}}