{{#if podcast}}
<div class="podcast-spacing"></div>
{{/if}}

<div class="container">
    <div class="row">
        {{#each podcast}}
        <div class="col-sm-4">
            <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header rendered-podcasts">
                    <h5 class="podcast-title-card-text">{{this.title}}</h5>
                </div>
                <div class="card-body rendered-podcasts">
                    <a href="episode/{{this._id}}">
                        <img src="{{this.imageUrl}}" alt="">
                        <p class="card-text">{{this.feedurl}}</p>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!--
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{#each podcast}}
            <div class="podcast-result">
                <h5>Title: </h5>{{this.title}}
                <br>
                <br>
                <h5>Creator: </h5>{{this.creator}}
                <br>
                <br>
                <h5>RSS Feed: </h5>
                <a href="{{this.feedUrl}}">{{this.title}}</a>
                <br>
                <br>
                <img class="podcast-image" href="/podcast/{{this.podcastID}}" src="{{this.imageUrl}}" alt="">
            </div>
            {{/each}}
        </div>
    </div>
</div> --}} {{#unless user}}
<div>
    <a href="/login">
        <img class="index-image" src="https://i.imgur.com/0TGfafo.png">
        {{!-- <img class="index-image" src="../public/images/podchats.png"> --}}
    </a>

</div>
{{!--
<button id="index-login-button" class="btn btn-primary">
    <a href="/login" </a>Login</button>
<button id="index-signup-button" class="btn btn-info">
    <a href="/signup" </a>Sign Up</button> --}} {{/unless}}